<!DOCTYPE html>
<html>
<head>
  <title>CS264 Group-1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>

      .img-center{
        margin: auto;
        text-align: center;
        border: 3px solid #73AD21;
        padding: 10px;
        display: flex;
        justify-content: center;
      }

      .center {
        margin: auto;
        width: 500px;
        border: 3px solid #73AD21;
        padding: 10px;
        background: #FFE2B7;

        
      }

   </style>

  <!-- modl script -->

  <script>
    /*$(document).ready(function(){
            $('#myModal').modal('show');
    });*/
  </script>

</head>

<body>

<!-- <div class="container">

    <div class="img-center">
      <img src="https://reg.tu.ac.th/Picture/GetSitePopUp" alt="imgs" style="width:100%;max-width:800px;">
    </div>
    

</div> -->

<div class="container">
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="width:100%;max-width:800px;">
      <img src="img/GetBanner.jpg" alt="img" style="width:800px;max-width:100%; height:100%;max-height:100%;">

        <!--<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>-->
        
        <!--<div class="modal-body">
          
          <p>Nothing.</p>
        </div >-->
        <div class="modal-footer" >
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</div>

<div class="jumbotron text-center">
  <div class="container">
    <p>First Name: fname </p>
	<p>Last Name: lName </p>
   </div>
</div>
<div class="container">

</div>

<div class="center" style="width:auto;max-width:11%;">
    
    <div class="container" >
        
        <!-- login forms -->
  
        <form action="/api ">

          <!-- <label for="text">Email:</label><br>
          <input type="text" id="email" name="email" value=""><br> -->
          
	        <label for="text">Student ID:</label><br>
	        <input type="text" id="user" name="user" value=""><br>
	        <label for="text">Password:</label><br>
	        <input type="password" id="pwd" name="pwd" value=""><br><br>
	        <input type="submit" value="submit">
          <input type="reset" value="reset">
        </form>

    </div>

    <div class="container">
      <button type="button">
        <a href="/login" class="button button1">LOGIN</a>
      </button>
      
    </div>
  
</div>

<!-- <div class="container">

    <div class="img-center" style="width:100%;max-width:50%;">
        <button onclick="window.location.href='https://instagram.com/_victor.ix';">Click</button>
        <button>null button</button>
        <form>
            <input type="button" onclick="window.location.href='https://google.com';" value="input button"/>
        </form>
        <a href="test1">texts</a>
    </div>
    
</div> -->

</body>
</html>