<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ระบบลงทะเบียนล่าช้า</title>
    <!-- ICON -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/main2.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-default no-margin" style="margin: ">
    
        <div class="navbar-header fixed-brand" >
          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
          </button>-->
          
          <p3 class="navbar-brand" href="#" style="font-size: 26px; color: white; padding: 10px;"><i class="fa fa-rocket fa-4" style="padding-right: 10px;"></i>ระบบลงทะเบียนเรียนล่าช้า</p3>
        </div>
        
    </nav>
    
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
        <div class="img bg-wrap text-center py-4" style="background-image: url(img/bg_1.jpg);">
            <div class="user-logo">
                <div class="img" style="background-image: url(img/profiles.png);"></div>
                <h3>Wellcome to TU Late Registration</h3>
            </div >
            
        </div>
    </header>
    <ul class="nav">
      <li>
        <a href="/main"><i class="zmdi zmdi-view-dashboard"></i> หน้าหลัก</a>
      </li>
      <li>
        <a href="/profiles"><i class="zmdi zmdi-link"></i> ข้อมูลส่วนตัว</a>
      </li>
      <li>
        <a href="/enroll_nor"><i class="zmdi zmdi-widgets"></i> ลงทะเบียน</a>
      </li>
      <li>
        <a href="/enroll_spe"><i class="zmdi zmdi-calendar"></i> ลงทะเบียนล่าช้า</a>
      </li>
      <li>
        <a href="/reqStatus"><i class="zmdi zmdi-info-outline"></i> สถานะคำร้อง</a>
      </li>
      <li>
        <a href="/logout"><i class="zmdi zmdi-settings"></i> ออกจากระบบ</a>
      </li>
    </ul>
  </div>

  <!-- Content -->
<div id="content">
    <!-- DIV TOP -->
    <div class="container" style="margin: auto; padding-top: 2%;">
        <div class="div-top-bar"><b style="color: #f75f19;">MAIN</b></div>
        <div class="div-center-bar">

        </div>
        <div class="container"><b style="color: #f75f19;"></b></div>

    </div>
    

    <!--<div class="container-fluid">
      <h1>Simple Sidebar</h1>
      <p>Make sure to keep all page content within the <code>#content</code>.</p>
    </div>-->

  </div>
</div>

</body>
</html>  
